$colors: #545C7A, #9ED301, #C97D99, #78C9E4, #E74829, #0154CF,#FF1BAA,#0DCCFE,#FE9B01;
$bgColor:#A39BCD;
$break-small: 700px;

body
{
  font-family:arial; 
  background-color: rgb(239, 249, 252);
}
#container
{  
  width: 100%;
  height: 100%;
}
#cardContainer
{
  width:100%;
  height:100%;
  text-align:center;
}
#otherPart
{
  width: 100%;
  height: 100%;
  text-align: center;
}
#inputContainer
{
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (max-width: $break-small) {
    margin-left:0px;
  }
  text-align: left;
}
.cardsParent
{
  padding: 0;
  margin: 5px;  
  background-color:white;
  display:inline-block;
  border:1px solid rgb(171, 171, 171);
  .title
  {
    background-color:$bgColor;    
    height:30px;
    padding:0px 5px; 
    font-family:arial;
    color:white;
    line-height:30px;
    text-align: right;
  }
}
.cards {
  padding: 0;
  width: 150px;
  height: 150px;  
  @media screen and (max-width: $break-small) {
    width: 100px;
    height: 100px;
  }
  background-color:white;      
  div {    
    text-align: center;
    width:50px;
    height:50px;
    vertical-align: middle;
    float:left;
    color: white;
    font-family:arial;
    display: table;
    span{
        display: table-cell;
        vertical-align: middle;
    }
    
  }
  @for $i from 1 through length($colors) {
    div:nth-child(#{length($colors)}n+#{$i}) {
        background: nth($colors, $i)
    }
  }
  
}
#readFile
{  
  display: inline-block;
  width: 50%;
  @media screen and (max-width: $break-small) {
    width: 100%;    
  }
  height: 100%;
  overflow: hidden;
  vertical-align: top;
  margin-top: 30px;
}
input[type="text"]
{  
  width: 250px;
  height: 40px;
  font-size: 22px;
  display: block;
  margin-top: 20px;
}
input[type="submit"]
{  
  width: 150px;
  @media screen and (max-width: $break-small) {
    width: 253px;    
  }
  height: 60px;
  background-color: #115BBE;
  border-radius: 5px;
  border: 1px solid #0185EE;
  font-size: 22px;
  color: lightblue;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}
header
{
  text-align: center;
  font-size: 33px;
  margin: 10px;
  color: grey;
}
label
{  
  font-size: 20px;
  color: rgb(100, 100, 100);
}