/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  font-family: arial;
  background-color: #eff9fc;
}

/* line 16, ../sass/screen.scss */
#container {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* line 22, ../sass/screen.scss */
.cardsParent {
  padding: 0;
  margin: 5px;
  width: 150px;
  height: 180px;
  background-color: white;
  display: inline-block;
  border: 1px solid #ababab;
}
/* line 31, ../sass/screen.scss */
.cardsParent .title {
  background-color: #A39BCD;
  height: 30px;
  padding: 0px 5px;
  font-family: arial;
  color: white;
  line-height: 30px;
  text-align: right;
}

/* line 42, ../sass/screen.scss */
.cards {
  padding: 0;
  width: 150px;
  height: 150px;
  background-color: white;
}
/* line 47, ../sass/screen.scss */
.cards div {
  text-align: center;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  float: left;
  color: white;
  font-family: arial;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+1) {
  background: #545C7A;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+2) {
  background: #9ED301;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+3) {
  background: #C97D99;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+4) {
  background: #78C9E4;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+5) {
  background: #E74829;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+6) {
  background: #0154CF;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+7) {
  background: #FF1BAA;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+8) {
  background: #0DCCFE;
}
/* line 58, ../sass/screen.scss */
.cards div:nth-child(9n+9) {
  background: #FE9B01;
}

/* line 64, ../sass/screen.scss */
#readFile {
  position: absolute;
  top: 270px;
  left: 107px;
  overflow: hidden;
}

/* line 71, ../sass/screen.scss */
input[type="text"] {
  position: absolute;
  top: 300px;
  left: 850px;
  width: 250px;
  height: 40px;
  font-size: 22px;
}

/* line 80, ../sass/screen.scss */
input[type="submit"] {
  position: absolute;
  top: 360px;
  left: 850px;
  width: 150px;
  height: 60px;
  background-color: #115BBE;
  border-radius: 5px;
  border: 1px solid #0185EE;
  font-size: 22px;
  color: lightblue;
  cursor: pointer;
}

/* line 94, ../sass/screen.scss */
header {
  text-align: center;
  font-size: 33px;
  margin: 10px;
  color: grey;
}

/* line 101, ../sass/screen.scss */
label {
  position: absolute;
  top: 270px;
  left: 850px;
  font-size: 20px;
  color: #646464;
}
