/* line 3, ../sass/screen.scss */
body {
  font-family: arial;
  background-color: #eff9fc;
}

/* line 8, ../sass/screen.scss */
#container {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/screen.scss */
#cardContainer {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 19, ../sass/screen.scss */
#otherPart {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* line 25, ../sass/screen.scss */
#inputContainer {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
}

/* line 32, ../sass/screen.scss */
.cardsParent {
  padding: 0;
  margin: 5px;
  width: 150px;
  height: 180px;
  background-color: white;
  display: inline-block;
  border: 1px solid #ababab;
}
/* line 41, ../sass/screen.scss */
.cardsParent .title {
  background-color: #A39BCD;
  height: 30px;
  padding: 0px 5px;
  font-family: arial;
  color: white;
  line-height: 30px;
  text-align: right;
}

/* line 52, ../sass/screen.scss */
.cards {
  padding: 0;
  width: 150px;
  height: 150px;
  background-color: white;
}
/* line 57, ../sass/screen.scss */
.cards div {
  text-align: center;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  float: left;
  color: white;
  font-family: arial;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+1) {
  background: #545C7A;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+2) {
  background: #9ED301;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+3) {
  background: #C97D99;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+4) {
  background: #78C9E4;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+5) {
  background: #E74829;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+6) {
  background: #0154CF;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+7) {
  background: #FF1BAA;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+8) {
  background: #0DCCFE;
}
/* line 68, ../sass/screen.scss */
.cards div:nth-child(9n+9) {
  background: #FE9B01;
}

/* line 74, ../sass/screen.scss */
#readFile {
  display: inline-block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
  margin-top: 30px;
}

/* line 83, ../sass/screen.scss */
input[type="text"] {
  width: 250px;
  height: 40px;
  font-size: 22px;
  display: block;
  margin-top: 20px;
}

/* line 91, ../sass/screen.scss */
input[type="submit"] {
  width: 150px;
  height: 60px;
  background-color: #115BBE;
  border-radius: 5px;
  border: 1px solid #0185EE;
  font-size: 22px;
  color: lightblue;
  cursor: pointer;
  display: block;
  margin-top: 20px;
}

/* line 104, ../sass/screen.scss */
header {
  text-align: center;
  font-size: 33px;
  margin: 10px;
  color: grey;
}

/* line 111, ../sass/screen.scss */
label {
  font-size: 20px;
  color: #646464;
}
